{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}guessing game{% endblock %}</title>
        {% tailwind_css %}
        <link href="{% static 'game/styles.css' %}" rel="stylesheet">
 
      
        {% block script %}
        {% endblock %}
    
    </head>
    <body>
        
        <div class="body">
            <h1 class="text-4xl ...">This is the layout file</h1>
            {% block body %}
            {% endblock %}
        </div>

    </body>
</html>